.contenedor {
    display: flex;
    flex-direction: column;
    /*margin:1rem auto;*/
    /*max-width: 180px;*/
}   

.submit {
    text-align: right;
    margin-top: 10px;
}

.checkBox {
    float: right;
}

.divChk {
    margin-top: 15px;
    margin-bottom: 10px;
}